:root {
    --background-dark: #1e1e2e;
    --text-dark: #cad3f5;

    --background-light: #eff1f5;
    --text-light: #4c4f69;

    --pink: #f5c2e7;
    --green: #a6e3a1;
    --mauve: #8839ef;
    --sapphire: #7dc4e4;

}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-light);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    height: 50px;

}

.nav-left {
    display: flex;
    flex-direction: row;
}


.nav-left a {
    color: var(--sapphire);
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.nav-right a:hover,
.nav-left a:hover {
    color: var(--green);
    text-decoration: none;
}

.nav-right {
    display: flex;
}

.nav-right a {
    color: var(--text-light);
    text-decoration: none;
    margin-left: 20px;
}


.nav-line {
    margin-left: 80px;
    margin-right: 80px;
    height: 2px;
    border: none;
    background-color: var(--mauve);
    border-radius: 10px;
}

.nombre,
.labor {

    margin-left: 80px;
    color: var(--text-light);
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    word-spacing: 20px;
}

.nombre {
    margin-top: 160px;
}

.labor {
    color: var(--sapphire);
}

.nombre span,
.labor span {
    font-size: 3.1em;
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    /* Inicia abajo */
    animation: fadeUp 0.5s ease-out forwards;
    animation-delay: calc(0.060s * var(--i));
    /* Calcula el retraso dinámicamente */
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.saludo {
    margin-left: 80px;
    margin-right: 360px;
    margin-top: 20px;
    font-size: 35px;
    color: var(--text-light);
    /*animacion*/
    opacity: 0;
    transform: translateY(1em);
    /* Inicia abajo */
    animation: fadeUp 0.5s ease-out forwards;
    animation-delay: calc(0.2s * 3);
}

.container {
    color: var(--text-light);
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills {
    display: inline-block;
    color: var(--blue);;
    margin-left: 40px;
}

.container-skills img {
    margin-bottom: 20px;
}

.container-skills h3 {
    margin-bottom: 16px;
}

.skill-python,
.skill-sql,
.skill-tableau,
.skill-power-bi,
.skill-excel {
    background-color: var(--background-dark);
    border-radius: 12px;
    color: var(--text-dark);
    padding: 40px;
    margin: 20px;
    text-align: center;
}

.skill-python,
.skill-power-bi {
    margin-left: 200px;
}

.skill-tableau,
.skill-excel {
    margin-right: 200px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-dark);
    background-color: var(--background-dark);
    padding-top: 40px;
    padding-bottom: 40px;
}

footer a {
    text-decoration: none;
    color: var(--green);
}

footer a:hover {
    text-decoration: none;
    color: var(--pink);
}

.copyright{
    margin-left: 40px;
}

.contacto{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.contacto img {
    height: 40px;
    margin-left: 40px;
}